html, body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto";
  color: var(--foreground);
  background-color: var(--background);
}

.text-logo {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;
  max-width: 100px;
  position: relative;
  line-height: 32px;
}

::selection {
  background-color: var(--selection-color);
  color: var(--selection-color-foreground);
}

a {
  color: var(--link-color);
}

.text-logo span:last-child {
  color: var(--foreground-on-background);
}

nav {
  background-color: var(--nav-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}

nav, nav * {
  transition: color .2s, background-color .2s, border .2s;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li:first-child {
  margin-right: 48px;
}

nav ul li {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  
}

nav ul li a:has(.text-logo), nav ul li a:hover:has(.text-logo) {
  align-items: center;
  background: none;
  top: 24px;
  border-bottom: none;
}

nav ul li a {
  position: relative;
  height: 67px;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  text-decoration: none;
  color: var(--foreground);
  padding: 16px;
  color: var(--nav-button-foreground);
  background-color: var(--nav-button-background);
  border-bottom: 8px solid var(--nav-button-background);
}

nav ul li a:hover, nav ul li a.selected {
  background-color: var(--nav-button-hover-background);
}

nav ul li a.selected {
  border-bottom: 8px solid var(--selection-color);
}

.page-content-wrapper {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground-on-background);
}

section {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
}

section article {
  padding: 16px;
  max-width: 300px;
  font-size: 16px;
  line-height: 24px;
}

section article:last-child {
  background-color: rgba(255, 255, 255, 0.1);
}

article.image-hero {
  align-items: center;
}

article.image-hero img, article.image-hero video {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

article.image-hero .willy-wonky {
  transform: scale(1.05) rotate(-5deg) translateX(0px) translateY(60px);
}

article.image-hero .willy-wonky--spotify {
  transform: scale(1.05) rotate(-5deg) translateX(0px) translateY(60px);
}

article.image-hero .willy-wonky--level-design {
  transform: scale(1.1) rotate(-5deg) translateX(0px);
}

article.image-hero .willy-wonky--level-design-other-direction {
  transform: scale(1.1) rotate(2deg) translateX(20px) translateY(10px);
}


.full-page-video, .full-page-image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
  opacity: 0.1;
}



.smaller {
  font-size: 14px;
  opacity: 0.8;
}

.flex-row {
  display: flex;
  flex-direction: row;;
}

@keyframes boxMoving {
  from {
    box-shadow: -32px -1024px 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: 32px 32px 0 var(--section-background);
  }
}

.palette-games section {
  box-shadow: 32px 32px 0 var(--section-background);
  animation-name: boxMoving;
  animation-duration: .3s;
}

.palette-music section {
  box-shadow: 32px 32px 0 var(--section-background);
  animation-name: boxMoving;
  animation-duration: .3s;
}

.palette-level-design section {
  box-shadow: 32px 32px 0 var(--section-background);
  animation-name: boxMoving;
  animation-duration: .3s;
}

.palette-modeling section {
  box-shadow: 32px 32px 0 var(--section-background);
  animation-name: boxMoving;
  animation-duration: .3s;
}

.palette-games {
  --foreground: #edf2f4;
  --background: #211d24;
  --nav-background: #ff2449;
  --section-background: #ff244970;
  --section-background-inverted: #00dbb670;
  --nav-button-foreground: var(--foreground);
  --nav-button-background: #ff2449;
  --nav-button-hover-background: #cc1836;
  --link-color: #eb9daa;
  --selection-color: #00dbb6;
  --selection-color-foreground: #000000;
}

.palette-music {
  --foreground: #edf2f4;
  --background: #000;
  --foreground-on-background: var(--foreground);
  --nav-background: #1ed760;
  --section-background: #1ed76070;
  --section-background-inverted: #e1289f70;
  --nav-button-foreground: #000;
  --nav-button-background: #1ed760;
  --nav-button-hover-background: #0f9e4f;
  --link-color: var(--nav-button-background);
  --selection-color: #e1289f;
  --selection-color-foreground: #fff;
}

.palette-level-design {
  --foreground: #edf2f4;
  --background: #000;
  --foreground-on-background: var(--foreground);
  --nav-background: #ffcc00;
  --section-background: #ffcc0070;
  --section-background-inverted: #0033ff70;
  --nav-button-foreground: #000;
  --nav-button-background: #ffcc00;
  --nav-button-hover-background: #ccaa00;
  --link-color: var(--nav-button-background);
  --selection-color: #0033ff;
  --selection-color-foreground: #fff;
}

.palette-modeling {
  --foreground: #edf2f4;
  --background: #101016;
  --foreground-on-background: var(--foreground);
  --nav-background: #00aaff;
  --section-background: #00aaff70;
  --section-background-inverted: #ff550070;
  --nav-button-foreground: #000;
  --nav-button-background: #00aaff;
  --nav-button-hover-background: #0088cc;
  --link-color: #48c2ff;
  --selection-color: #ff5500;
  --selection-color-foreground: #fff;
}

.no-ai {
  position: fixed;
  right: 120px;
  bottom: 120px;
}

.no-ai-icon {
  width: 96px;
  height: 96px;
  position: absolute;
}

.no-ai-icon--back {
  color: var(--nav-button-background);
}

.no-ai-icon--front {
  color: var(--nav-button-foreground);
}