* {
  transition: color .2s, background-color .2s;
}

html, body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto";
  color: var(--foreground);
  background-color: var(--background);
}

.text-logo {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;
  max-width: 100px;
  position: relative;
  line-height: 32px;
  
}

a {
  color: var(--nav-button-background)
}

.text-logo span:last-child {
  color: var(--foreground-on-background);
}

nav {
  background-color: var(--nav-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li:first-child {
  margin-right: 48px;
}

nav ul li {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

nav ul li a:has(.text-logo), nav ul li a:hover:has(.text-logo) {
  align-items: center;
  background: none;
  top: 24px;
}

nav ul li a {
  position: relative;
  height: 67px;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  text-decoration: none;
  color: var(--foreground);
  padding: 16px;
  color: var(--nav-button-foreground);
  background-color: var(--nav-button-background);
}

nav ul li a:hover, nav ul li a.selected {
  background-color: var(--nav-button-hover-background);
}

.page-content-wrapper {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foreground-on-background);
}

section {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
}

section article {
  padding: 16px;
  max-width: 300px;
  font-size: 16px;
  line-height: 24px;
}

section article:last-child {
  background-color: rgba(0, 0, 0, 0.1);
}

article.image-hero {
  align-items: center;
}

article.image-hero img, article.image-hero video {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

article.image-hero .willy-wonky {
  transform: scale(1.05) rotate(-5deg) translateX(0px) translateY(60px);
}

article.image-hero .willy-wonky--spotify {
  transform: scale(1.05) rotate(-5deg) translateX(0px) translateY(60px);
}

article.image-hero .willy-wonky--level-design {
  transform: scale(1.1) rotate(-5deg) translateX(0px);
}

article.image-hero .willy-wonky--level-design-other-direction {
  transform: scale(1.1) rotate(2deg) translateX(20px) translateY(10px);
}


.full-page-video, .full-page-image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -999;
  opacity: 0.1;
}



.smaller {
  font-size: 14px;
  opacity: 0.8;
}

.flex-row {
  display: flex;
  flex-direction: row;;
}

.palette-games {
  --foreground: #edf2f4;
  --background: #f8f8f2;
  --foreground-on-background: #000;
  --nav-background: #ff2449;
  --nav-button-foreground: var(--foreground);
  --nav-button-background: #ff2449;
  --nav-button-hover-background: #cc1836;
}

.palette-music {
  --foreground: #edf2f4;
  --background: #000;
  --foreground-on-background: var(--foreground);
  --nav-background: #1ed760;
  --nav-button-foreground: #000;
  --nav-button-background: #1ed760;
  --nav-button-hover-background: #0f9e4f;
}

.palette-level-design {
  --foreground: #edf2f4;
  --background: #000;
  --foreground-on-background: var(--foreground);
  --nav-background: #ffcc00;
  --nav-button-foreground: #000;
  --nav-button-background: #ffcc00;
  --nav-button-hover-background: #ccaa00;
}

.palette-modeling {
  --foreground: #edf2f4;
  --background: #2b2d42;
  --foreground-on-background: var(--foreground);
  --nav-background: #00aaff;
  --nav-button-foreground: #000;
  --nav-button-background: #00aaff;
  --nav-button-hover-background: #0088cc;
}

.no-ai {
  position: fixed;
  right: 120px;
  bottom: 120px;
}

.no-ai-icon {
  width: 96px;
  height: 96px;
  position: absolute;
}

.no-ai-icon--back {
  color: var(--nav-button-background);
}

.no-ai-icon--front {
  color: var(--nav-button-foreground);
}